*{
    -fx-base: #cdcdcd;
}

.hidden-button {
    -fx-base: transparent;
    -fx-text-fill: black;
}

.simple-button {
    -fx-text-fill: #7bcce4;
    -fx-background-color: #4b7486;
    -fx-border-color: #7bcce4;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}
.border-button {
    -fx-border-color: #7bcce4;
    -fx-text-fill: #7bcce4;
    -fx-border-radius: 10px;
    -fx-border-width: 3px;
}

.request-button {
    -fx-text-fill: #7bcce4;
    -fx-background-color: #2e3c4b;
    -fx-border-color: #7bcce4;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}