.background-pane{
-fx-background-image: url('Background.png');
    -fx-background-position: center center;
    -fx-background-size: cover;
}
.side-image-l {
    -fx-background-image: url('Sidebar.png');
    -fx-background-size: stretch;
    -fx-opacity: .75;
}
.side-image-r {
    -fx-background-image: url('Sidebar.png');
    -fx-background-size: stretch;
    -fx-opacity: .75;
}
.container-box {
    -fx-background-color: #2e3c4b;
    -fx-border-radius: 10px;
    -fx-border-color: #7bcce4;
    -fx-background-radius: 10px;
}
.container-box-2 {
    -fx-background-color: #2e3c4b;
    -fx-border-radius: 10px;
    -fx-border-color: #7bcce4;
    -fx-opacity: .75;
    -fx-background-radius: 10px;
}
.container-box-3 {
    -fx-background-color: #0c1b26;
    -fx-background-radius: 10px;
}