*{
    -fx-base: #cdcdcd;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}
.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}
.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}
.text-area {
    -fx-control-inner-background: #455A70;
    -fx-background-color: #455A70;
    -fx-prompt-text-fill: #7bcce4;
    -fx-text-fill: #7bcce4;
    -fx-inner-background-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-radius: 20px;
    -fx-border-width: 2.5px;
}
.simple-text-area {
    -fx-border-color: #7bcce4;
}

.text-field {
    -fx-background-color: #455A70;
    -fx-prompt-text-fill: #7bcce4;
    -fx-text-fill: #7bcce4;
    -fx-border-radius: 10px;
    -fx-border-width: 2.5px;
 }
.simple-text-field {
    -fx-border-color: #7bcce4;
}