.main-button {
    -fx-background-color: linear-gradient(to bottom right, #434B5B, #B9104A);
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 10, .2, 0.0, 0.0);
}
.light-dark-button {
    -fx-background-color: #1A1A1F;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 10, .2, 0.0, 0.0);
}
.blue-button {
    -fx-background-color: #1080B9;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 10, .2, 0.0, 0.0);
}
.red-button {
    -fx-background-color: #B9104A;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 10, .2, 0.0, 0.0);
}
.green-button {
    -fx-background-color: #10B9A2;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 10, .2, 0.0, 0.0);
}
.side-panel {
    -fx-background-color: #1E2129;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 10, .2, 0.0, 0.0);
    -fx-effect: innershadow( gaussian, rgba( 0, 0, 0, 0.2), 10, .2, 0, 0);
}
.background {
    -fx-background-color: #1A1A1F;
}
.background-pane{
    -fx-background-image: url('Background.png');
    -fx-background-position: center center;
    -fx-background-size: cover;
}
.container-box {
    -fx-background-color: linear-gradient(from 15% 15% to 100% 100%,  #373E49, #1E2129);
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 10, .2, 0.0, 0.0);
}
.container-box-2 {
    -fx-background-color: linear-gradient(from 15% 15% to 100% 100%,  #3D4551, #1E2129);
    -fx-background-radius: 0px 10px 10px 0px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 10, .2, 0.0, 0.0);
}
.container-box-3 {
    -fx-background-color: #1E2129;
    -fx-border-color: #3D4551;
    -fx-border-width: 2.5px;
}
.container-box-4 {
    -fx-background-color: #2B303A;
    -fx-opacity: 1;
}
.text-field {
    -fx-background-color: #1E2129;
    -fx-text-fill: rgb(255,255,255, 0.6);
    -fx-prompt-text-fill: rgb(255,255,255, .5);
    -fx-effect: innershadow( gaussian, rgba( 0, 0, 0, 0.75), 10, .2, 0, 0);
    -fx-background-radius: 10px;
}
.text-area {
    -fx-control-inner-background: #1E2129;
    -fx-background-color: #1E2129;
    -fx-border-color: transparent;
    -fx-prompt-text-fill: rgba(255, 255, 255, 0.5);
    -fx-text-fill: white;
    -fx-inner-background-radius: 10px;
    -fx-background-radius: 10px;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}
.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}
.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}
.profile-table-background {
    -fx-background-color: #1A1A1F;
    -fx-effect: innershadow( gaussian, rgba( 0, 0, 0, 0.75), 10, .2, 0, 0);
    -fx-background-radius: 10px;
}
.label-box{
    -fx-background-color: #1A1A1F;
    -fx-opacity: 0.25;
    -fx-background-radius: 10px;
}
.label-box-sharp{
    -fx-background-color: #1A1A1F;
    -fx-opacity: 0.25;
}
.profile-table-message-background {
    -fx-background-color: #2B303A;
}




















.table-view .scroll-bar * {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}

.table-column-right {
    -fx-base: #4b7486;
    -fx-text-fill: #7bcce4;
    -fx-background-radius: 0px 10px 0px 0px;
}

.table-column-middle {
    -fx-base: #4b7486;
    -fx-text-fill: #7bcce4;
}

.table-column-left {
    -fx-base: #4b7486;
    -fx-text-fill: #7bcce4;
    -fx-background-radius: 10px 0px 0px 0px;
}

.simple-table {
    -fx-control-inner-background: #2e3c4b;
    -fx-border-color: #7bcce4;
    -fx-prompt-text-fill: #7bcce4;
    -fx-text-fill: #7bcce4;
}
.table-view .column-header {
    -fx-base: #4b7486;
    -fx-text-fill: #7bcce4;
}
.queue-table {
    -fx-control-inner-background: #2e3c4b;
    -fx-prompt-text-fill: #7bcce4;
    -fx-text-fill: #7bcce4;
}

.no-header-table .column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}
.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #1f2c3d;
}
.tab-pane .tab
{
    -fx-background-color: #344759;
}
.tab .tab-label {
    -fx-text-fill: #7bcce4;
}
.label {
    -fx-text-fill: white;
}
.combo-box {
    -fx-background-color: #1E2129;
    -fx-text-fill: rgb(255,255,255, .5);
    -fx-background-radius: 10px;
}
.combo-box-base .text{
    -fx-fill: rgba(255, 255, 255, 0.5);
}
.combo-box .arrow{
    -fx-background-color: rgba(255, 255, 255, 0.7);
}
.jfx-slider > .track {
    -fx-background-color: #1A1A1F;
    -fx-pref-height: 5px;
}
.jfx-slider > .thumb {
    -fx-background-color: linear-gradient(to bottom right, #434B5B, #1080B9);
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 5, .1, 0.0, 0.0);
    -fx-pref-width: 20px;
    -fx-pref-height: 20px;
}
.jfx-slider > .colored-track {
    -fx-background-color: #1A1A1F;
    -fx-pref-height: 5px;
}
.jfx-slider > .axis {
    -fx-tick-label-fill: #7bcce4;
}
.simple-slider {
    -fx-base: #7bcce4;
}