.main-button {
    -fx-background-color: linear-gradient(to bottom right, #434B5B, #1080B9);
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 10, .2, 0.0, 0.0);
}
.light-dark-button {
    -fx-background-color: #1A1A1F;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 10, .2, 0.0, 0.0);
}
.color-button {
    -fx-background-color: #1080B9;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 10, .2, 0.0, 0.0);
}
.side-panel {
    -fx-background-color: #1E2129;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 10, .2, 0.0, 0.0);
    -fx-effect: innershadow( gaussian, rgba( 0, 0, 0, 0.2), 10, .2, 0, 0);
}
.background {
    -fx-background-color: #1A1A1F;
}
.background-pane{
    -fx-background-image: url('Background.png');
    -fx-background-position: center center;
    -fx-background-size: cover;
}
.container-box {
    -fx-background-color: linear-gradient(from 15% 15% to 100% 100%,  #373E49, #1E2129);
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 10, .2, 0.0, 0.0);
}
.container-box-2 {
    -fx-background-color: linear-gradient(from 15% 15% to 100% 100%,  #3D4551, #1E2129);
    -fx-background-radius: 0px 10px 10px 0px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 10, .2, 0.0, 0.0);
}
.container-box-3 {
    -fx-background-color: #1E2129;
    -fx-border-color: #3D4551;
    -fx-border-width: 2.5px;
}
.text-field {
    -fx-background-color: #1E2129;
    -fx-text-fill: rgb(255,255,255, .5);
    -fx-prompt-text-fill: rgb(255,255,255, .5);
    -fx-effect: innershadow( gaussian, rgba( 0, 0, 0, 0.75), 10, .2, 0, 0);
    -fx-background-radius: 10px;
}
.profile-table-background {
    -fx-background-color: #1A1A1F;
    -fx-effect: innershadow( gaussian, rgba( 0, 0, 0, 0.75), 10, .2, 0, 0);
    -fx-background-radius: 10px;
}
.label-box{
    -fx-background-color: #1A1A1F;
    -fx-opacity: 0.25;
    -fx-background-radius: 10px;
}
.label-box-sharp{
    -fx-background-color: #1A1A1F;
    -fx-opacity: 0.25;
}
.profile-table-message-background {
    -fx-background-color: #2B303A;
}